@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons);.snotifyToast {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.snotify-leftTop .fadeIn,
.snotify-leftCenter .fadeIn,
.snotify-leftBottom .fadeIn {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

.snotify-leftTop .fadeOut,
.snotify-leftCenter .fadeOut,
.snotify-leftBottom .fadeOut {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

.snotify-rightTop .fadeIn,
.snotify-rightCenter .fadeIn,
.snotify-rightBottom .fadeIn {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

.snotify-rightTop .fadeOut,
.snotify-rightCenter .fadeOut,
.snotify-rightBottom .fadeOut {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight; }

.snotify-centerTop .fadeIn {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.snotify-centerTop .fadeOut {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

.snotify-centerCenter .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.snotify-centerCenter .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

.snotify-centerBottom .fadeIn {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.snotify-centerBottom .fadeOut {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) scaleX(1.2);
    transform: translate3d(-100%, 0, 0) scaleX(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) scaleX(1.2);
    transform: translate3d(-100%, 0, 0) scaleX(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) scaleX(1.2);
    transform: translate3d(100%, 0, 0) scaleX(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) scaleX(1.2);
    transform: translate3d(100%, 0, 0) scaleX(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) scaleY(1.2);
    transform: translate3d(0, 100%, 0) scaleY(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0) scaleY(1.2);
    transform: translate3d(0, 100%, 0) scaleY(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scaleY(1.2);
    transform: translate3d(0, -100%, 0) scaleY(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scaleY(1.2);
    transform: translate3d(0, -100%, 0) scaleY(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

@keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@-webkit-keyframes appear {
  0% {
    max-height: 0; }
  100% {
    max-height: 50vh; } }

@keyframes appear {
  0% {
    max-height: 0; }
  100% {
    max-height: 50vh; } }

@-webkit-keyframes disappear {
  0% {
    opacity: 0;
    max-height: 50vh; }
  100% {
    opacity: 0;
    max-height: 0; } }

@keyframes disappear {
  0% {
    opacity: 0;
    max-height: 50vh; }
  100% {
    opacity: 0;
    max-height: 0; } }

@-webkit-keyframes async {
  0% {
    -webkit-transform: translate(0, -50%) rotate(0deg);
    transform: translate(0, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
    transform: translate(0, -50%) rotate(360deg); } }

@keyframes async {
  0% {
    -webkit-transform: translate(0, -50%) rotate(0deg);
    transform: translate(0, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
    transform: translate(0, -50%) rotate(360deg); } }

.snotify {
  display: block;
  position: fixed;
  width: 300px;
  z-index: 9999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none; }
  .snotify * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.snotify-leftTop,
.snotify-leftCenter,
.snotify-leftBottom {
  left: 10px; }

.snotify-rightTop,
.snotify-rightCenter,
.snotify-rightBottom {
  right: 10px; }

.snotify-centerTop,
.snotify-centerCenter,
.snotify-centerBottom {
  left: calc(50% - 300px / 2); }

.snotify-leftTop,
.snotify-centerTop,
.snotify-rightTop {
  top: 10px; }

.snotify-leftCenter,
.snotify-rightCenter,
.snotify-centerCenter {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.snotify-leftBottom,
.snotify-rightBottom,
.snotify-centerBottom {
  bottom: 10px; }

.snotify-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  z-index: 9998;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }

.snotifyToast {
  display: block;
  cursor: pointer;
  background-color: #fff;
  max-height: 300px;
  height: 100%;
  margin: 5px;
  opacity: 0;
  overflow: hidden;
  pointer-events: auto; }
  .snotifyToast--in {
    -webkit-animation-name: appear;
    animation-name: appear; }
  .snotifyToast--out {
    -webkit-animation-name: disappear;
    animation-name: disappear; }
  .snotifyToast__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding: 5px 65px 5px 15px;
    min-height: 78px;
    font-size: 16px;
    color: #000; }
  .snotifyToast__progressBar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #c7c7c7; }
    .snotifyToast__progressBar__percentage {
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      background-color: #4c4c4c;
      max-width: 100%; }
  .snotifyToast__title {
    font-size: 1.8em;
    line-height: 1.2em;
    margin-bottom: 5px;
    color: #000; }
  .snotifyToast__body {
    font-size: 1em;
    color: #000; }

.snotifyToast-show {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

.snotifyToast-remove {
  max-height: 0;
  overflow: hidden;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
  opacity: 0; }

/***************
 ** Modifiers **
 **************/
.snotify-simple {
  border-left: 4px solid #000; }

.snotify-success {
  border-left: 4px solid #4caf50; }

.snotify-info {
  border-left: 4px solid #1e88e5; }

.snotify-warning {
  border-left: 4px solid #ff9800; }

.snotify-error {
  border-left: 4px solid #f44336; }

.snotify-async {
  border-left: 4px solid #1e88e5; }

.snotify-confirm {
  border-left: 4px solid #009688; }

.snotify-prompt {
  border-left: 4px solid #009688; }

.snotify-confirm .snotifyToast__inner,
.snotify-prompt .snotifyToast__inner {
  padding: 10px 15px; }

.snotifyToast__input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0;
  width: 100%;
  vertical-align: top;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .snotifyToast__input__field {
    position: relative;
    display: block;
    float: right;
    padding: .85em .5em;
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #333;
    font-weight: bold;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
    .snotifyToast__input__field:focus {
      outline: none; }
  .snotifyToast__input__label {
    display: inline-block;
    float: right;
    padding: 0 .85em;
    width: 100%;
    color: #999;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    left: 0;
    height: 100%;
    text-align: left;
    pointer-events: none; }
    .snotifyToast__input__label::before, .snotifyToast__input__label::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
    .snotifyToast__input__label::before {
      border-top: 2px solid #009688;
      -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
      transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
      -webkit-transition-delay: .3s;
      transition-delay: .3s; }
    .snotifyToast__input__label::after {
      z-index: -1;
      background: #eee;
      -webkit-transform: scale3d(1, 0, 1);
      transform: scale3d(1, 0, 1);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0; }
  .snotifyToast__input__labelContent {
    position: relative;
    display: block;
    padding: 1em 0;
    width: 100%;
    -webkit-transition: -webkit-transform .3s .3s;
    transition: -webkit-transform .3s .3s;
    transition: transform .3s .3s;
    transition: transform .3s .3s, -webkit-transform .3s .3s; }

.snotifyToast__input--filled {
  margin-top: 2.5em; }
  .snotifyToast__input--filled:focus,
  .snotifyToast__input--filled .snotifyToast__input__field {
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s; }

.snotifyToast__input__field:focus + .snotifyToast__input__label .snotifyToast__input__labelContent,
.snotifyToast__input--filled .snotifyToast__input__labelContent {
  -webkit-transform: translate(0, -80%);
  transform: translate(0, -80%);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.snotifyToast__input__field:focus + .snotifyToast__input__label::before,
.snotifyToast__input--filled .snotifyToast__input__label::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.snotifyToast__input__field:focus + .snotifyToast__input__label::before,
.snotifyToast__input--filled .snotifyToast__input__label::before {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.snotifyToast__input__field:focus + .snotifyToast__input__label::after,
.snotifyToast__input--filled .snotifyToast__input__label::after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.snotifyToast--invalid .snotifyToast__input__label::before {
  border-color: #f44336; }

.snotifyToast--valid .snotifyToast__input__label::before {
  border-color: #4caf50; }

.snotifyToast__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .snotifyToast__buttons button {
    position: relative;
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-bottom: none;
    background: transparent;
    padding: 8px;
    text-transform: capitalize;
    color: #000; }
    .snotifyToast__buttons button:hover, .snotifyToast__buttons button:focus {
      background: rgba(0, 0, 0, 0.1);
      outline: none; }
    .snotifyToast__buttons button:active {
      background: rgba(0, 0, 0, 0.15); }
    .snotifyToast__buttons button:last-child {
      border-right: none; }
    .snotifyToast__buttons button:first-child {
      border-left: none; }
  .snotifyToast__buttons--bold {
    font-weight: 700; }

.snotify-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  line-height: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  max-height: 48px;
  max-width: 48px;
  width: 100%;
  height: 100%; }

.snotify-icon--error {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20version=%221.1%22%20x=%220px%22%20y=%220px%22%20viewBox=%220%200%20512%20512%22%20fill=%22%23f44336%22%3E%3Cg%3E%3Cpath%20d=%22M437,75A256,256,0,1,0,75,437,256,256,0,1,0,437,75ZM416.43,416.43a226.82,226.82,0,0,1-320.86,0C7.11,328,7.11,184,95.57,95.57a226.82,226.82,0,0,1,320.86,0C504.89,184,504.89,328,416.43,416.43Z%22/%3E%3Cpath%20d=%22M368.81,143.19a14.5,14.5,0,0,0-20.58,0L256,235.42l-92.23-92.23a14.55,14.55,0,0,0-20.58,20.58L235.42,256l-92.23,92.23a14.6,14.6,0,0,0,10.24,24.89,14.19,14.19,0,0,0,10.24-4.31l92.23-92.23,92.23,92.23a14.64,14.64,0,0,0,10.24,4.31,14,14,0,0,0,10.24-4.31,14.5,14.5,0,0,0,0-20.58l-92-92.23,92.23-92.23A14.5,14.5,0,0,0,368.81,143.19Z%22/%3E%3C/g%3E%3C/svg%3E"); }

.snotify-icon--warning {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20version=%221.1%22%20x=%220px%22%20y=%220px%22%20viewBox=%220%200%20512%20512%22%20fill=%22%23ff9800%22%3E%3Cg%3E%3Cpath%20d=%22M256,512c141.15,0,256-114.84,256-256S397.15,0,256,0,0,114.84,0,256,114.85,512,256,512Zm0-480.49c123.79,0,224.49,100.71,224.49,224.49S379.79,480.49,256,480.49,31.51,379.79,31.51,256,132.21,31.51,256,31.51Z%22/%3E%3Ccircle%20cx=%22260.08%22%20cy=%22343.87%22%20r=%2226.35%22/%3E%3Cpath%20d=%22M254.68,278.39a15.76,15.76,0,0,0,15.75-15.75V128.72a15.75,15.75,0,1,0-31.51,0V262.63A15.76,15.76,0,0,0,254.68,278.39Z%22/%3E%3C/g%3E%3C/svg%3E"); }

.snotify-icon--info {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20version=%221.1%22%20x=%220px%22%20y=%220px%22%20viewBox=%220%200%20512%20512%22%20fill=%22%231e88e5%22%3E%3Cg%3E%3Cpath%20d=%22M256,0C114.84,0,0,114.84,0,256S114.84,512,256,512,512,397.16,512,256,397.15,0,256,0Zm0,478.43C133.35,478.43,33.57,378.64,33.57,256S133.35,33.58,256,33.58,478.42,133.36,478.42,256,378.64,478.43,256,478.43Z%22/%3E%3Cpath%20d=%22M251.26,161.24a22.39,22.39,0,1,0-22.38-22.39A22.39,22.39,0,0,0,251.26,161.24Z%22/%3E%3Cpath%20d=%22M286.84,357.87h-14v-160A16.79,16.79,0,0,0,256,181.05H225.17a16.79,16.79,0,0,0,0,33.58h14.05V357.87H225.17a16.79,16.79,0,0,0,0,33.57h61.67a16.79,16.79,0,1,0,0-33.57Z%22/%3E%3C/g%3E%3C/svg%3E"); }

.snotify-icon--success {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20version=%221.1%22%20x=%220px%22%20y=%220px%22%20viewBox=%220%200%20512%20512%22%20fill=%22%234caf50%22%3E%3Cg%3E%3Cpath%20d=%22M256,0C114.85,0,0,114.84,0,256S114.85,512,256,512,512,397.16,512,256,397.15,0,256,0Zm0,492.31c-130.29,0-236.31-106-236.31-236.31S125.71,19.69,256,19.69,492.31,125.71,492.31,256,386.29,492.31,256,492.31Z%22/%3E%3Cpath%20class=%22cls-1%22%20d=%22M376.64,151,225.31,321.24l-91.17-72.93a9.85,9.85,0,0,0-12.3,15.38l98.46,78.77a9.86,9.86,0,0,0,13.52-1.15L391.36,164.08A9.85,9.85,0,0,0,376.64,151Z%22/%3E%3C/g%3E%3C/svg%3E"); }

.snotify-icon--async {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20version=%221.1%22%20x=%220px%22%20y=%220px%22%20viewBox=%220%200%20512%20512%22%20fill=%22%231e88e5%22%3E%3Cg%3E%3Cpath%20d=%22M256,0a32,32,0,0,0-32,32V96a32,32,0,0,0,64,0V32A32,32,0,0,0,256,0Zm0,384a32,32,0,0,0-32,32v64a32,32,0,0,0,64,0V416A32,32,0,0,0,256,384ZM391.74,165.5,437,120.22A32,32,0,0,0,391.74,75L346.5,120.22a32,32,0,0,0,45.25,45.28Zm-271.52,181L75,391.74A32,32,0,0,0,120.22,437l45.25-45.25a32,32,0,0,0-45.25-45.25Zm0-271.52A32,32,0,1,0,75,120.22l45.25,45.28a32,32,0,1,0,45.25-45.28ZM391.74,346.5a32,32,0,0,0-45.25,45.25L391.74,437A32,32,0,0,0,437,391.74ZM480,224H416a32,32,0,0,0,0,64h64a32,32,0,0,0,0-64ZM128,256a32,32,0,0,0-32-32H32a32,32,0,0,0,0,64H96A32,32,0,0,0,128,256Z%22/%3E%3C/g%3E%3C/svg%3E");
  -webkit-animation: async 3s infinite linear;
  animation: async 3s infinite linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #dbdbdb;
  overflow: hidden;
}

.green_background {
  background-color: #009688;
  height: 130px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -100;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95vh;
  width: 90%;
  margin: 3vh auto 2vh auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px #7e7e7e;
          box-shadow: 0 2px 4px #7e7e7e;
}

.right {
  min-width: calc(100% - 390px);
  height: 100%;
  background-color: #ece5dd;
}

/*  Welcome --------------------------------------------- */

.welcome {
  background: #f7f9fa;
  height: calc(95vh - 5px);
  border-bottom: 5px solid #25d366;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome img {
  width: 50%;
  height: 15%;
}

.welcome p {
  color: #a8a8a8;
}

/*  Head --------------------------------------------- */

.head {
  background-color: #eee;
  width: 100%;
  height: 60px;
  border-radius: 0 3px 0 0;
  -webkit-box-shadow: -1px 0 2px 0 #aaaaaa;
          box-shadow: -1px 0 2px 0 #aaaaaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head h1 i {
  font-size: 40px;
  margin: 10px 20px;
  color: #777777;
}

.head .img {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  margin: 10px 20px;
}

.head .info {
  width: 100%;
  margin: 10px;
}

.head .info .name {
  color: #777777;
  margin-top: 5px;
  font-size: 0.8em;
}

/*  Profile --------------------------------------------- */

.profile_box {
  height: calc(95vh - 60px);
  width: 100%;
  background-color: #f7f7f7;
}

.profile_box .information {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile_box .widget {
  position: relative;
  width: 70%;
  height: 100%;
}

.profile_box .widget_100 {
  width: 100%;
}

.profile_box .cover {
  height: 300px;
  width: 100%;
  position: relative;
}

.profile_box .cover img {
  width: 100%;
  height: 100%;
}

.profile_box .photo {
  position: absolute;
  top: 225px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -55px;
  border: 5px solid white;
}

.profile_box h1 {
  margin: 50px 0;
  text-align: center;
  font-weight: 200;
  color: #999;
}

.profile_box h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: #999;
}

.profile_box .users {
  position: relative;
  background-color: #ffffff;
  width: 30%;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
}

.profile_box .list {
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 2px #777777;
          box-shadow: 1px 1px 2px #777777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile_box .list .image {
  margin: 0 5%;
}

.profile_box .list .name {
  background-color: #fafafa;
  width: 70%;
  height: 50%;
  outline: 0;
  border: 0;
  color: #777777;
  font-size: 14px;
  border-radius: 25px 0 0 25px;
  cursor: pointer;
}

.profile_box .list .name:hover {
  background-color: #EEEEEE;
  color: #009688;
}

.profile_box .list .current_user {
  background-color: #EEEEEE;
  color: #009688;
  font-weight: bold;
}

.profile_box .list .random {
  background-color: transparent;
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  color: #494949;
  cursor: pointer;
}

.profile_box .list .random:hover {
  color: #009688;
}

/* Edit User --------------------------------------------------------------------- */

.edit_user {
  background-color: #fafafa;
  width: 100%;
  min-height: 100%;
}

.edit_user form {
  padding: 20px;
}

.edit_user h1 {
  color: #009688;
  font-size: 14px;
  font-weight: bold;
  margin: 30px 0;
}

.edit_user .info {
  width: 100%;
  margin: auto;
  height: 60px;
  border: 0;
  text-align: center;
  background-color: transparent;
  border-bottom: 2px solid #EEEEEE;
  outline: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.edit_user .info:hover {
  border-bottom: 2px solid #009688;
}

.edit_user .upload_profile {
  position: relative;
}

.edit_user .upload_profile [type=file] {
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.edit_user .upload_profile .area {
  width: 100%;
  line-height: 40px;
  border: 0;
  outline: 0;
  color: #777777;
  cursor: pointer;
  text-align: center;
}

.edit_user .upload_profile .area:hover {
  color: #009688;
}

.edit_user .save {
  line-height: 30px;
  width: 100%;
  background-color: transparent;
  border: solid 2px #EEEEEE;
  color: #777777;
  margin-top: 25px;
  outline: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.edit_user .save:hover {
  border: solid 2px #EEEEEE;
  font-weight: bold;
}

/* Friendship ---------------------------------------------------------------------- */

.friends .style_friend {
  width: 40px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 2px solid #EEEEEE;
  -webkit-box-shadow: 0 0 26px -5px white;
          box-shadow: 0 0 26px -5px white;
}

.friends .style_friend:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.friends .add_friend {
  position: absolute;
  top: 15px;
  left: 22px;
}

.friends .delete_friend {
  position: absolute;
  top: 70px;
  left: 22px;
}

.friends button {
  border: 0;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  outline: 0;
}

.friends .accepted {
  color: #FFCCC1;
}

.friends .green:hover {
  color: #009688;
}

.friends .orange:hover {
  color: #FF9800;
}

/* Groups ---------------------------------------------------------------------- */

.groups_box {
  height: calc(95vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.groups_box .content {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  overflow-y: auto;
}

.groups_box .groups {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.groups_box .group {
  width: 50%;
  height: 100%;
}

.groups_box .group a {
  width: 100%;
  height: 100%;
  color: #777777;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.groups_box .group a:hover {
  color: #009688;
  background-color: #f3f3f3;
}

/* Table ---------------------------------------------------------------------- */

.chat_groups {
  background: #f8f8f8;
  height: calc(100% - 30px);
  padding: 15px 40px;
  overflow-y: hidden;
}

.chat_groups h4 {
  margin: 25px 0;
  color: #777777;
}

.chat_groups hr {
  border: 0;
  height: 3px;
  margin: 20px 0;
  background: #EEEEEE;
}

.chat_groups .add {
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-left: 5px;
}

.chat_groups .add:hover {
  color: #009688;
}

.chat_groups .data a {
  text-decoration: none;
  color: #777777;
}

.chat_groups table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  -webkit-box-shadow: 0 0 2px 0 rgba(119, 119, 119, 0.5);
          box-shadow: 0 0 2px 0 rgba(119, 119, 119, 0.5);
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  background: #fbfbfb;
}

.chat_groups tr:nth-of-type(odd) {
  background: #FFFFFF;
}

.chat_groups th {
  background: #fbfbfb;
  color: #777777;
  font-size: 0.8em;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.chat_groups td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #777777;
  font-size: 0.9em;
  font-weight: inherit;
}

.chat_groups .avatar {
  margin: auto;
  max-height: 40px;
  max-width: 40px;
}

.chat_groups .green {
  color: #009688;
}

.chat_groups .red {
  color: #E57373;
}

.chat_groups .orange {
  color: #FF9800;
}

.chat_groups .format {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.chat_groups .link_add {
  text-decoration: none;
  margin-left: 5px;
}

.chat_groups .pagination {
  display: block;
  margin-top: 1em;
  color: white;
  text-align: right;
}

.chat_groups .pagination .numbers li {
  display: inline-block;
}

.chat_groups .pagination .numbers li .disable {
  pointer-events: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 2px;
  color: #aaaaaa;
  border: 1px solid #f5f5f5;
}

.chat_groups .pagination .numbers li a,
.chat_groups .pagination .numbers li span {
  color: #777777;
  background: white;
  border: 1px solid #cccccc;
  padding: 5px;
  display: block;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
  -webkit-box-shadow: 0 0 1px 0 rgba(119, 119, 119, 0.5);
          box-shadow: 0 0 1px 0 rgba(119, 119, 119, 0.5);
}

.chat_groups .pagination .numbers li a.current,
.chat_groups .pagination .numbers li span.current {
  background: #fafafa;
  color: #009688;
}

.chat_groups .pagination .numbers li a {
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  cursor: pointer;
}

.chat_groups .pagination .numbers li a:hover {
  background: #f1f1f1;
  color: #009688;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.chat_groups .group_input {
  height: 40px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat_groups .group_input .upload_avatar {
  position: relative;
}

.chat_groups .group_input .upload_avatar [type=file] {
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.chat_groups .group_input .upload_avatar i {
  color: #777777;
}

.chat_groups .group_input .input_name {
  width: 100%;
  border: 1px solid #e8e8e8;
  outline: 0;
  padding-left: 10px;
}

.chat_groups .group_input .button_upload {
  height: 100%;
  width: 50px;
  background-color: #f1f1f1;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.chat_groups .group_input .button_upload:hover {
  background-color: #EEEEEE;
}

.chat_groups .group_input .button_send {
  width: 100px;
  border: 0;
  outline: 0;
  background-color: #f1f1f1;
  cursor: pointer;
  font-weight: bold;
  color: #009688;
}

.chat_groups .group_input .button_send:hover {
  background-color: #EEEEEE;
}

.chat_groups .group_input button:disabled,
.chat_groups .group_input button[disabled] {
  display: none;
}

/* Vue effects ---------------------------------------------------------------------- */

.slide-fade-enter-active {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.left {
  width: 390px;
  min-width: 390px;
  height: 100%;
  background-color: #fafafa;
  border-radius: 3px 0 0 3px;
}

/* Menu --------------------------------------------- */

.menu {
  width: 100%;
  height: 60px;
  background-color: #eee;
  border-radius: 3px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .avatar {
  margin: 5px 20px;
}

.menu a {
  color: #777777;
  text-decoration: none;
}

.menu .icons i {
  color: #aaaaaa;
  margin: 0 15px;
}

.menu .icons i:hover {
  color: #009688;
  cursor: pointer;
}

.menu .icons .error {
  color: #e57373;
}

.menu .router-link-active {
  color: #009688;
}

.menu .router-link-active i {
  color: #009688;
}

.menu .notifications {
  position: relative;
}

.menu .notifications[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -18px;
  right: 8px;
  width: 20px;
  height: 20px;
  background: white;
  font-size: 12px;
  font-weight: bold;
  color: #009688;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px #fff;
          box-shadow: 0 0 1px #fff;
  line-height: 23px;
}

/* Search --------------------------------------------- */

.search_container {
  width: 100%;
  height: 55px;
  background: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_container .search {
  width: 90%;
  height: 30px;
  margin: auto;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_container .search i {
  color: #aaaaaa;
  margin: 4px 5px 0 5px;
}

.search_container .search input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

.search_container .search input:focus {
  outline: none;
}

/* Filter --------------------------------------------- */

.filter {
  width: 100%;
  height: 40px;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.filter button {
  width: 30%;
  height: 100%;
  color: #777777;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.filter button:hover {
  -webkit-box-shadow: 0px -1px 0px 0px #bababa;
          box-shadow: 0px -1px 0px 0px #bababa;
}

.filter .active {
  font-weight: bold;
  color: #009688;
  -webkit-box-shadow: 0px -1px 0px 0px #bababa;
          box-shadow: 0px -1px 0px 0px #bababa;
}

body::-webkit-scrollbar,
.users::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

body::-webkit-scrollbar-thumb,
.users::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.users {
  scrollbar-arrow-color: #009688;
  scrollbar-face-color: #eeeeee;
  scrollbar-highlight-color: #eeeeee;
  scrollbar-shadow-color: #dddddd;
}

